.row {
    padding: {
        top: em(20px);
        bottom: em(20px);
    }
    &-top {
        top: em(20px);
    }
    &-btm {
        top: em(20px);
    }
    &-md {
        padding: {
            top: em(40px);
            bottom: em(40px);
        }
        &-top {
            padding: {
                top: em(40px);
            };
        }
        &-btm {
            padding: {
                bottom: em(40px);
            };
        }
    }
}