
.container {

  .container_text_blog_articolo_top {
    width:63.438em;
    background-color: rgba(0,0,0,0.3);

    .text_blog_articolo_top{
      width:45.000em;


      .frt_text, .frt_title{
        text-align: center;
      }
    }
  }
}