$width_blog_articolo: 100%;


$width_articolo:100%;


.blog_articolo_top {
  position: relative;
  width: $width_blog_articolo;

}
.blog_articolo_top.section {
  margin-bottom: 5em;
}

.blog_articolo_instagram{
  position: relative;
  width: $width_instagram;
}

.blog_articolo{
  position: relative;
  width: $width_articolo;


  .container_articolo{
    position: relative;
    margin:0 auto;
    width:60%;

  }
}
.blog_articolo.section{
  margin-bottom:4em;
}

