$width_cantieri: 100%;


$width_in_costruzione: 100%;


$width_descrizione_cantieri: 100%;


$width_instagram: 100%;


$width_caratteristiche:100%;


$width_carousel_cantieri:100%;


$width_soluzioni_button:100%;



$width_cantieri_instagram: 100%;



$margin_bottom: 6.063em;


.cantieri_top {
  position: relative;
  width: $width_cantieri;

  &.section{
    margin-bottom: $margin_bottom;
  }
}


.descrizione_cantieri{
  position: relative;
  width: $width_descrizione_cantieri;

  &.section{
    margin-bottom: $margin_bottom;
  }
}

.caratteristiche_cantieri{
  position: relative;
  width: $width_caratteristiche;

}

.carousel_cantieri {
  position: relative;
  width: $width_carousel_cantieri;

}

.soluzioni_button_title{
  position: relative;
  width: $width_soluzioni_button;

}
.soluzioni_button_title.section{
  margin-bottom: 7.063em;
}

.container_schedule{
  width: 100%;
  overflow: hidden;
}

.container_carica_altro_btn{
  width: 100%;
  position: relative;
}


.archivi_instagram{
  position: relative;
  width: $width_cantieri_instagram;
}
