.caratteristiche_corner{
  width:80%;

  .corner{
    .container_caratteristiche{
      width:80%;

      position: relative;

      .wrapper_container_caratteristiche{
        @include rows();

        .container_plus{
          @include cell();

          .container_plus_wrapper{
            @include rows();

            .plus_row{
              @include cell();

              .wrapper_plus_row{
                @include cols(jus-center);

                .item_plus{
                  width: 13.813em;
                  position: relative;


                  .container_plus_item{
                    width: 100%;
                    position: relative;
                  }
                }
              }
            }
          }
        }
        .container_text_caratteristiche{
          @include flex();
        }
      }
    }
  }
}