$width_arredamenti: 100%;


$height_par: 21.875em;




$width_showroom:100%;




.arredamenti_top {
  position: relative;
  width: $width_arredamenti;
}


.arredamenti_paragraph{
  position: relative;
  width: $width_arredamenti;

}


.arredamenti_gallery{
  position: relative;
  width: $width_arredamenti;
}

.preventivo_btn{
  position: relative;
  width: 100%;
}


.marchi{
  position: relative;
  width: 100%;

  .container_title{
    position: relative;
    top:0em;
  }
}
.marchi.section{
  margin-bottom: 15em;
}

.showroom{
  width: $width_showroom;
  position: relative;
}
.showroom.section{
  margin-bottom: 10em;
}
