.frt_columns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &_jcenter {
        justify-content: center;
    }
    &.carousel_wrapper {
        flex-wrap: nowrap;
    }
    [class^="cols_"], [class*=" cols_"] {
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint(604px) {
        .cols_50 {
            width: 50%;
        }
        .cols_25 {
            width: 25%;
        }
    }
    @include breakpoint($bp) {      
        .cols_60 {
            width: $first_percent;
        }
        .cols_40 {
            width: $second_percent;
        }
        .cols_33 {
            width:100%/3;
        }
    }
    .cols_100{
        &_start{
            justify-content: flex-start;
        }
    }
}

.offset {
    @include breakpoint($bp) {
        padding: {
            left: em(40px);
            right: em(40px);
        }
        &-left {
            padding: {
                left: em(40px);
            }
        }
        &-right {
            padding: {
                left: em(40px);
            }
    }    
    }
}