$first_percent:61.803398874985468379271708299583%;
$second_percent:38.196601125014531620728291700417%;

.frt_columns{
  display: flex;
  flex-wrap: wrap;
  width:100%;

  &_jcenter{
    justify-content: center;
  }

  .cols_60{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: $first_percent;
  }
  .cols_40{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: $second_percent;
  }
  .cols_50{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 50%;
  }
  .cols_25{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 25%;
  }
  .cols_33{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width:4/12*100%;
  }
  .cols_100{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;

    &_start{
      justify-content: flex-start;
    }
  }

}


