$frt_btn_padding_desktop: em(20px) em(40px);
$frt_btn_padding_mobile: em(10px) em(20px);

$frt_btn_border_thickness: 0.20em;
$frt_btn_border_color: #262626;
$frt_btn_2nd_border_thickness: 0.313em;

$frt_btn_animation: ease-out;
$frt_btn_animation_time: 0.4s;

/*.frt_btn_wrapper{

  background-image: url("../img/strips.png");
  position:relative;
  -webkit-transition: all $frt_btn_animation_time $frt_btn_animation;
  -moz-transition: all $frt_btn_animation_time $frt_btn_animation;
  -o-transition: all $frt_btn_animation_time $frt_btn_animation;
  transition: all $frt_btn_animation_time $frt_btn_animation;
  z-index: 2;
  .frt_btn{
    border: solid $frt_btn_border_thickness $frt_btn_border_color;
    padding:$frt_btn_padding_70h;
    background-color:white;
    position:relative;
    top:$frt_btn_2nd_border_thickness*(-1);
    left:$frt_btn_2nd_border_thickness;
    width: 100%;
    text-transform: uppercase;

    .label_button {
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 400;
      letter-spacing: $letter-spacing-btn;
    }

    .icon_button {
      font-size: 1.875em;
      color: $blue;
      margin-right: 0.5em;
    }

  }

  &:hover{
    background-color: #000000;


    .frt_btn{
      border-color: #0086ff;
      background-color: #0086ff;
      color: white;

      .label_button{
        color: white;
      }
      .icon_button{
        color: white;
      }
    }

  }


  !*
             _   _
  ___  _ __ | |_(_) ___  _ __  ___
 / _ \| '_ \| __| |/ _ \| '_ \/ __|
| (_) | |_) | |_| | (_) | | | \__ \
 \___/| .__/ \__|_|\___/|_| |_|___/
      |_|

 *!

  &.active{
    .frt_btn {
      border-color: #fff !important;
    }
    .label_button{
      @extend .font_thin;
    }
  }




  &._400px{
    width: 400px;
  }

  &._240px{
    width: 15.000em;
  }

  &._200px{
    width: 200px;
  }

}*/

.container_button {
  position: relative;
/*  padding-left: em(20px);*/

  &_center {
    @include padder-center;
    flex-wrap: wrap;
  }
 /* &_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }*/

}

.frt_btn {
  position: relative;
  z-index: 1;
  border: 0;
  padding: 0;
  margin: em(10px);
  transition: {
    property: background-color, border-color;
    duration: .5s;
  }


  @include breakpoint(800px) {
    margin: em(20px) em(40px);
  }

  .PADDER-CENTER {
    border: solid $frt_btn_border_thickness $frt_btn_border_color;
    padding: $frt_btn_padding_mobile;
    background-color: white;
    position: relative;
    text-transform: uppercase;
    z-index: 2;

    @include breakpoint(800px) {
      padding: $frt_btn_padding_desktop;
    }
  }

  &:before {
    content: "";
    background: linear-gradient(-45deg,
            #000 1px, transparent 0,
            transparent calc(50% - 1px), #000 0,
            #000 calc(50% + 1px), transparent 0,
            transparent calc(100% - 1px), #000 0);
    background-size: 6px/sqrt(2) 6px/sqrt(2);
    position: absolute;
    bottom: $frt_btn_2nd_border_thickness*(-1);
    left: $frt_btn_2nd_border_thickness*(-1);
    width: 100%;
    height: 100%;
    opacity: 0.25;
    transition:opacity 0.5s;
  }

  &:after {
    content: "";
    bottom: 0;
    left: 0;
    background: #000006;;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 100%;
  }
  &:hover {
    .PADDER-CENTER {
      background-color: $light_blue;
      border-color: $light_blue;
      color: white;
    }
    &:after {
      opacity: 1;
      bottom: $frt_btn_2nd_border_thickness*(-1.5);
      left: $frt_btn_2nd_border_thickness*(-1.5);
    }
    &:before {
      opacity: 0;
    }
    .icon_button{
      color: white;
    }
  }
}

.label_button {
  font-size: em(16px);
  font-family: $second_font;
  font-weight: bold;
  letter-spacing: $letter-spacing-btn;
  text-align: left;

  @include breakpoint(640px){
    font-size: em(13px);
  }
  @include breakpoint(800px){
    font-size: em(14px);
  }
  @include breakpoint(1024px){
    font-size: em(16px);
  }
}

.icon_button {
  font-size: em(20px);
  color: $blue;
  margin-right: em(20px, 20px);
  @include breakpoint(640px){
    font-size: em(21px);
    margin-right: em(20px, 21px);
  }
  @include breakpoint(800px){
    font-size: em(22px);
    margin-right: em(20px, 22px);
  }
  @include breakpoint(1024px){
    font-size: em(24px);
    margin-right: em(20px, 24px);
  }
}



