
.padding_20_0{
  padding: em(20px) 0;
}

.padding_40_0{
  padding: em(40px) 0;
}
.padding_80_0{
  padding: em(80px) 0;
}




.padding_20{
  padding: em(20px);
}

.padding_40{
  padding: em(40px);
}
.padding_80{
  padding: em(80px);
}
