.padding_0_20{
  padding: 0 em(20px);
}
.padding_0_40{
  padding: 0 em(40px);
}
.padding_0_80{
  padding: 0 em(80px);
}

.padding_20_0{
  padding: em(20px) 0;
}

.padding_40_0{
  padding: em(40px) 0;
}
.padding_80_0{
  padding: em(80px) 0;
}




.padding_20{
  padding: em(20px);
}

.padding_40{
  padding: em(40px);
}
.padding_60{
  padding: em(60px);
}
.padding_80{
  padding: em(80px);
}

.padding_20_20{
  padding: em(20px) em(20px);
}
.padding_20_40{
  padding: em(20px) em(40px);
}
.padding_20_80{
  padding: em(20px) em(80px);
}

.padding_40_20{
  padding: em(40px) em(20px);
}
.padding_40_30{
  padding: em(40px) em(30px);
}
.padding_40_40{
  padding: em(40px) em(40px)!important;
}
.padding_40_80{
  padding: em(40px) em(80px)!important;
}



.padding_80_20{
  padding: em(80px) em(20px)!important;
}
.padding_80_40{
  padding: em(80px) em(40px)!important;
}
.padding_80_80{
  padding: em(80px) em(80px)!important;
}



.padding_bottom_10{
  padding-bottom: em(10px);
}
.padding_bottom_20{
  padding-bottom: em(20px);
}
.padding_bottom_40{
  padding-bottom: em(40px);
}

.padding_bottom_80{
  padding-bottom: em(80px);
}

.padding_top_20{
  padding-top: em(20px);
}
.padding_top_40{
  padding-top: em(40px);
}
.padding_top_80{
  padding-top: em(80px);
}



