
.frt_features{
  justify-content: center;

  .cols_33{
    display: block;

    .img_features{
      display: block;
      margin:0 auto;
      padding-bottom: em(20px);
    }
    .label_features{
      text-align: center;
      padding: 0 em(40px) em(40px) em(40px);
    }
  }
}