
.signature {
  overflow: hidden;

  .hyphen {
    width: 2.500em;
    height: 0.313em;
    background-color: black;
    float: left;
    margin-top: 0.65em;
  }

  .name {
    float: left;
    margin-left: 0.750em;
  }

}