$position_logo_bianco: 28.563em;




.container_intro {
  .logo_bianco_container{
    position: absolute;
    width:100%;
    bottom: $position_logo_bianco;

    .container_center{
      position:relative;
      width: 90%;
      margin: 0 auto;
    }
  }
}