$width_archivi: 100%;


$width_in_costruzione: 100%;


$width_instagram: 100%;


$width_noixvoi: 100%;



.archivi_top {
  position: relative;
  width: $width_archivi;
}

.archivi_presentazione{
  position: relative;
  width: $width_archivi;
}
.archivi_presentazione.section{
  margin-bottom: 7.063em;
}

.in_costruzione{
  position: relative;
  width: $width_in_costruzione;

}

.noixvoi{
  position: relative;
  width: $width_noixvoi;
}