$width_chi_siamo_top: 100%;


$width_storia: 100%;


$width_instagram: 100%;

$width_famiglia: 100%;


$width_valori: 100%;



.chi_siamo_top {
  position: relative;
  width: $width_chi_siamo_top;

}
.storia{
  position:relative;
  width: $width_storia;

}
.famiglia{
  position:relative;
  width:$width_famiglia;

}
.valori{
  position:relative;
  width:$width_valori;
}
.noixvoi.section{
  margin-bottom: 7.063em;
}

.chi_siamo_instagram{
  position:relative;
  width: 100%;
}