.frt_columns.container_two_photos{



  .cols_40{
    .frt_paragraph{
      z-index:1;
      transform: translateX(-20%);
    }
  }
  .cols_100{
    transform: translateY(-45%);
    align-items: flex-end;

    .container_button{
      transform: translateY( -100%);
    }
  }
}
