.frt_columns.container_two_photos{

  .cols_40{
    .frt_paragraph{
      z-index:1;
      transform: translate3d(-50%, 0, 0);
    }
  }
  .cols_100{
    transform: translate3d(0%, -45%, 0);
    align-items: flex-end;

    .container_button{
      transform: translate3d(0%, -100%, 0);
    }
  }
}
