.container_full_services{
  .frt_img_cover{
    position: absolute;
  }

  .frt_title{
    text-align: center;
    font-size: em(48px);
  }

  .container_button{
    transform: translate3d(0%, 50%, 0);
  }
}